fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
jinja2
openai
langchain
langchain-aws
python-dotenv
google-generativeai
httpx
pypdf
bcrypt
PyJWT
sqlalchemy
psycopg2-binary
email-validator
